.ExEcWebsite-content > div > h1,h2,h3,h4,h5,h6
{
    font-weight: bolder;
    font-size: 1.9rem;
    margin-bottom: 1rem;
}
.ExEcWebsite-content > div > div > h1,h2,h3,h4,h5,h6
{
    font-weight: bolder;
    font-size: 1.9rem;
    margin-bottom: 1rem;
}
.ExEcWebsite-content > div
{
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}
.ExEcWebsite-content > div > p
{
    font-size:0.9rem;
    color: #636363;
    text-align: right;
    line-height: 2.1rem;
} 
.ExEcWebsite-content > div > div > p
{
    font-size:0.9rem;
    color: #636363;
    text-align: right;
    line-height: 2.1rem;
} 
.ExEcWebsite-content
{
    direction: rtl;
    overflow: hidden;
} 
b
{
    color: #000000;
    font-family: IranSans-b;
}
.store-text
{
    font-size: 1rem;
    text-align: center !important;
    color: rgb(108, 108, 108);
    line-height: 2rem;
}
.service-text
{
    font-size: 1rem !important;
    text-align: center !important;
    color: rgb(108, 108, 108);
    line-height: 2rem;
}

/* .opacity-ant
{
    animation: opacity 2s ease-in-out 1;
}

.translate-right-opacity-ant
{
    animation: translate-right-opacity 1s ease-in-out 1;
}
.translate-left-opacity-ant
{
    animation: translate-left-opacity 1s ease-in-out 1;
}
.translate-top-opacity-ant
{
    animation: translate-top-opacity 1s ease-in-out 1;
}
.translate-bottom-opacity-ant-1
{
    animation: translate-bottom-opacity 1s ease-in-out 1;
}
.translate-bottom-opacity-ant-2
{
    animation: translate-bottom-opacity 1s ease-in-out 1;
    animation-delay: 1s;
}
.shake-ant
{
    animation: shake 2s ease-in-out 1;
}
.scale-ant
{
    animation: scale 2s ease-in-out 1;
}
@keyframes opacity {
    0%{opacity: 0;}
    100%{opacity: 1;}
}
@keyframes translate-right-opacity {
    0%{transform: translateX(20rem);opacity: 0;}
    100%{transform: translateX(0rem);opacity: 1;}
}
@keyframes translate-left-opacity {
    0%{transform: translateX(-10rem);opacity: 0;}
    100%{transform: translateX(0rem);opacity: 1;}
}
@keyframes translate-top-opacity {
    0%{transform: translateY(-10rem);opacity: 0;}
    100%{transform: translateY(0rem);opacity: 1;}
}
@keyframes translate-bottom-opacity {
    0%{transform: translateY(10rem);opacity: 0;}
    100%{transform: translateY(0rem);opacity: 1;}
}
@keyframes shake {
    0%{transform: translateX(0);opacity: 0;}
    10%{transform: translateX(10);opacity: 1;}
    20%{transform: translateX(-10)}
    30%{transform: translateX(10)}
    40%{transform: translateX(-10)}
    50%{transform: translateX(10)}
    60%{transform: translateX(-10)}
    70%{transform: translateX(10)}
    80%{transform: translateX(-10)}
    90%{transform: translateX(10)}
    100%{transform: translateX(0);opacity: 1;}
}
@keyframes scale {
    0%{transform: scale(0);opacity: 0;}
    100%{transform: scale(1);opacity: 1;}
} */