@font-face {
    font-family: IranSans-b;
    src: url('./assets/font/IranSans/Woff2/IRANSansXFaNum-Black.woff2');
}
@font-face {
    font-family: IranSans-m;
    src: url('./assets/font/IranSans/Woff2/IRANSansXFaNum-Medium.woff2');
}
@font-face {
    font-family: IranSans-r;
    src: url('./assets//font/IranSans/Woff2/IRANSansXFaNum-Regular.woff2');
}
.App
{
    margin: 0;
    padding: 0;
    font-family: IranSans-m;
}
p
{
    font-family: IranSans-m;
}
h1,h2,h3,h4,h5,h6
{
    font-family:IranSans-b ;
}